<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81329660328-8m1pcbtb8vv7jht69d4sfil5cpvghpok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81329660328-8m1pcbtb8vv7jht69d4sfil5cpvghpok</string>
	<key>API_KEY</key>
	<string>AIzaSyA9C2-8JbqDdFKWz2rAyzT0Dap5EnOvy-c</string>
	<key>GCM_SENDER_ID</key>
	<string>81329660328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maricarmen.FirebaseCRUD</string>
	<key>PROJECT_ID</key>
	<string>fir-crude-e4b28</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-crude-e4b28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81329660328:ios:501a250b32efc9075b7d9d</string>
</dict>
</plist>